{% extends '@App/Base/base.html.twig' %}

{% block title %}{{ 'login_title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 col-sm-12">
                <form action="{{ path('login') }}" method="POST">
                    <p class="h4 text-center mb-4">{{ 'log_in'|trans }}</p>
                    {% if error %}
                        <div>
                            <p class="red-text text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_email }}"/>
                        <label for="username">{{ 'email'|trans }}</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input class="form-control" type="password" id="password" name="_password"/>
                        <label for="password">{{ 'password'|trans }}</label>
                    </div>
                    <div class="text-center mt-4">
                        <button class="btn btn-success" type="submit">{{ 'submit_button' }}</button>
                        <a href="{{ path('register') }}" class="btn btn-primary">{{ 'register_redirect' }}</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>
{% endblock %}