{% extends '@App/Base/base.html.twig' %}

{% block title %}{{ 'homepage_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'homepage_header'|trans }}</h1>
    <a class="btn btn-md btn-primary" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
    <div class="container">
        <div class="row">
            <div id="react-root"></div>
        </div>
    </div>
    {% for account in accounts %}
        <span>{{ account.email ~ ': ' ~  account.passwd }}</span><br/>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}